.h1{
    background-color:  #517475;
    color: white;
    text-align: center;
    height: 100px;
    padding: 40px 50px;
    margin-top: auto;
}
.navbar{
    background-color: darkslategrey;
}
.navbar ul{
overflow: auto;
}
.navbar li{
    float: left;
list-style: none;
margin: 15px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 10px 80px;
}
.navbar li a:hover{
    background-color: cadetblue;
    }
    .hb{
        background-color: darkgray;
        text-align: center;
        padding: 10px;
    }
    .t1, tr, th{
        
        color: white;
        background-color:  #517475;
        border: 1px solid white;
        border-collapse: collapse;
        padding: 20px;
    }
    .t1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 70%;
    }
    .t1 th :hover{
        background-color: cadetblue;
    }
    .t1 th a{
        text-decoration: none;
        color: white;
        padding: 10px 40px;
    }
.p{
    text-align: center;
}